.container {
    display: flex;
    justify-content: center;
    margin: 20px;
}
.container .block {
    padding: 50px 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container .block .heading {
    padding: 20px;
    text-align: center;
    letter-spacing: 3px;
    word-spacing: 5px;
    text-transform: uppercase;
}